# Node modules
node_modules/

# Build output
dist/
build/
out/

# Env variables
.env
.env.local
.env.*.local
.supabase

# Deployment configurations
.vercel
.netlify

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Cache and temporary
*.log
*.cache
*.tmp
